.header {
	z-index: 999;
	background-color: #66a553;
	display: flex;
	gap: 20px;
	color: #b86868b4;
	font-size: 30px;
	background: url('@img/services.png') no-repeat center / cover;
	animation-name: bounce;
}

/* Медиа-запрос для устройств с максимальной шириной 768px (например, мобильные устройства) */
@media only screen and (max-width: 768px) {
	.header {
		/* Ваши стили для экранов шириной до 768px */
		background-color: #7523ac; /* Рандомный цвет для примера */
	}
}
.body {
	color: #1f73c2;
}
.components {
	color: #000;
}

/* Медиа-запрос для устройств с минимальной шириной 769px (например, планшеты и выше) */
@media only screen and (min-width: 769px) {
	.header {
		/* Ваши стили для экранов шириной от 769px и выше */
		background-color: #3366cc; /* Другой рандомный цвет для примера */
	}
	.nav {
		/* Общие стили для .nav */
		font-size: 16px;
		font-weight: normal;
		color: #21529c;
	}
}

/* Медиа-запрос для устройств с максимальной шириной 768px (например, мобильные устройства) */
@media only screen and (max-width: 768px) {
	.nav {
		/* Стили для .nav на экранах шириной до 768px */
		font-size: 14px;
		color: #ff9900; /* Рандомный цвет текста для примера */
	}
}

/* Медиа-запрос для устройств с минимальной шириной 769px (например, планшеты и выше) */
@media only screen and (min-width: 769px) {
	.nav {
		/* Стили для .nav на экранах шириной от 769px и выше */
		font-size: 18px;
		color: #3366cc; /* Другой рандомный цвет текста для примера */
	}
}
