.header {
  background-color: rgb(62, 102, 211);
  padding: 180px 0;
  font-size: 30px;
  color: #b91b1b;
  text-align: center;
  display: flex;
  transform: scaleX(0.5);
}
* {
  box-sizing: border-box;
}
