.footer {
  background-color: #f6f3ee;

  &__link {
    background: url("@img/icons/place.svg") no-repeat center / cover;
  }
}
@media (min-width: 768px) {
  .footer {
    background-color: #a8986b;
  }
}
